*{
	margin:0; padding:0;
	font-family:roboto,arial;
}

body{
	background:white;
	width:100%;
}
a{
	text-decoration:none;
}
ul{
	list-style-type:none;
}
h1{
	color:#A3CE4E;
	margin-top:30px;
	font-size:16px;
	text-align:center;
}
h6{
	height:40px;
	width:100%;
	line-height:40px;
	background:gray;
	padding-left:10px;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	color:white;
	font-size:15px;
	margin-top:10px;
}

#header{
	width:100%;
	height:650px;
	position:relative;
}
#img{
	position:relative;
	width:100%;
	height:650px;
}
#img img{
	width:100%;
	height:650px;
}

#header-content{
	top:45px;
	position:absolute;
	width:80%;
	height:600px;
	margin-left:140px;
}
/**top-icon**/
#top-icon{
	width:99%;
	height:40px;
	margin-left:5px;
	position:absolute;
	top:0;
	border-bottom:1px solid lightgray;
}
#icon li{
	float:left;
	width:30px;
	height:40px;
}
#icon li a{
	display:block;
	line-height:40px;
	color:#ddd;
}
#icon{
	margin-left:140px;
}

/**logo**/
#logo{
	float:left;
	top:0;
	width:13%;
	height:40px;
	margin-top:10px;
}
#logo img{
	width:100%;
	height:40px;
}
/**logo-center**/
#logo-center{
	top:0;
	width:60%;
	height:80px;
	margin:auto;
	margin-top:10px;
}
#logo-center img{
	width:100%;
	height:80px;
}
/**menu**/
#menu{
	width:32%;
	height:40px;
	float:right;
	margin-top:10px;

}
#menu li{
	float:left;
	width:115px;
	position:relative;
}
#menu li a{
	display:block;
	color:white;
	text-align:center;
	line-height:40px;
}
#menu li a:hover{
	color:green;
}
#menu li >.sub-menu{
	position:absolute;
	display:none;
	background:#A3CE4E;
	opacity:0.8;
	border-radius:1em;
}
#menu li:hover .sub-menu{
	display:block;
}


/**searh**/

#search{
	width:100%;
	height:100px;
	margin-top:130px;
}
/**luachon*/
#lua-chon{
	width:60%;
	height:130px;
	margin:auto;
	margin-top:100px;
}
.lua-chon-list{
	width:30%;
	background:white;
	margin-left:20px;
	margin-right:20px;
	border-radius:1em;
	cursor:pointer;
}
.lua-chon-list i{
	text-align:center;
	font-size:40px;
	margin-top:20px;
	color:#A3CE4E;
}
.lua-chon-list a{
	width:100%;
	height:40px;
	color:#333;
	font-size:14px;
	font-weight:bold;
}
/**banner*/
#index-banner{
	width:80%;
	height:130px;
	margin:auto;
	margin-top:10px;
}
.banner-content{
	width:32%;
	height:130px;
	float:left;
	margin-left:10px;
}
.banner-icon{
	float:left;
	width:15%;
	height:50px;
	border-radius:50%;
	background:#A3CE4E;
	margin-top:10px;
	font-size:20px;
	margin-left:5px;
}
.banner-icon i{
	display:block;
	line-height:50px;
	text-align:center;
	color:white;
}
.banner-nd{
	float:left;
	width:70%;
	margin-top:10px;
	margin-left:20px;
	color:#333;
}
/**main**/
#index-main{
	width:80%;
	margin:auto;
	margin-top:10px;
	border-radius:1.2em;
	border:1px solid #A3CE4E;
}
#img-content{
	width:30%;
	height:500px;
	float:left;
	margin-top:30px;
	margin-left:40px;
	border-radius:1em;
}
#img-content img{
	width:100%;
	height:400px;
	float:left;
	margin-top:30px;
	border-radius:1em;
	margin-bottom:20px;

}
#thong-tin{
	width:58%;
	float:left;
	margin-left:60px;
	margin-top:50px;
}
#thong-tin-sv{
	width:100%;
	font-size:15px;
}
.thong-tin-sv-content{
	font-size:15px;
	width:98%;
	margin:5px 5px;
}
.none-grid td{
	font-size:15px;
}
/**menu-class**/
#menu-class{
	width:65%;
	height:40px;
	margin:auto;
	margin-top:30px;
}
#menu-class li{
	float:left;
	height:40px;
	width:120px;
	background:gray;
	margin-left:10px;
	border-radius:1em;
}
#menu-class li a{
	display:block;
	line-height:40px;
	color:white;
	text-align:center;
	transition:0.3s ease all;
}
#menu-class li a:hover{
	transition:0.3s ease all;
	background:#ff3333;
	border-radius:1em;
}
#menu-class li a.active{
	border-radius:1em;
	background:#ff3333;
}
/***main-title*/
.main-title{
	width:100%;
	height:40px;
	color:white;
	text-align:center;
	line-height:40px;
	background:#A3CE4E;
	margin:auto;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	font-size:18px;
	font-weight:bold;
	border-bottom:1px solid #A3CE4E;
}
/**back**/
#back{
	width:15%;
	margin:auto;
	margin-top:100px;
	background:#A3CE4E;
	height:50px;
	border-radius:1em;
	line-height:50px;
	text-align:center;
	transition:0.3s ease all;
}
#back:hover{
	transition:0.3s ease all;
	background:black;
	opacity:0.6;
}
#back a{
	color:white;
	font-size:18px;
	font-weight:bold;
}
/**botto**/
#bottom{
	width:100%;
	height:340px;
	background:#333333;
	margin-top:10px;
}
#bottom-content{
	width:80%;
	height:340px;
	margin:auto;
}
.bottom-content-list{
	width:31%;
	height:340px;
	margin-left:20px;
	float:left;
	margin-top:20px;
}
.bottom-content-list li{
	width:100%;
	height:40px;
}
.bottom-content-list li i{
	float:left;
	height:40px;
	line-height:40px;
	margin-right:5px;
}
.bottom-content-list li a{
	display:block;
	line-height:40px;
	color:gray;
	float:left;
}
.bottom-content-list li a:hover{
	color:#ff3333;
}
/*form**/
#form{
	width:55%;
	margin:auto;
	position:relative;
}
label li{
	width:40%;
	height:40px;
}
label li a{
	display:block;
	color:gray;
	text-align:center;
	line-height:40px;
}
label li a:hover{
	background:#A3CE4E;
	color:white;
}
form{
	width:50%;
	margin:auto;
	margin-top:20px;
}
input[type="search"]{
	width:80%;
	height:40px;
	border:none;
	margin-top:20px;
	position:absolute;
	padding-left:10px;
	color:gray;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
}
input[type="text"]{
	width:97.5%;
	height:40px;
	border:1px solid #ddd;
	margin-top:20px;
	padding-left:10px;
	color:gray;
	border-radius:1.5em;
}
input[type="password"]{
	width:97.5%;
	height:40px;
	border:1px solid #ddd;
	margin-top:20px;
	padding-left:10px;
	color:gray;
	border-radius:1.5em;
}
input[type="email"]{
	width:97.5%;
	height:40px;
	border:1px solid #ddd;
	margin-top:20px;
	padding-left:10px;
	color:gray;
	border-radius:1.5em;
}
select{
	width:30.5%;
	height:40px;
	border-radius:1.5em;
	margin-top:10px;
	margin-left:10px;
	border:1px solid #ddd;
	padding-left:10px;
}
option{
	background:#A3CE4E;
	color:white;
	width:5%;
}
#option{
	background:#ff3333;
	font-weight:bold;
}
#btn{
	position:absolute;
	width:20%;
	height:40px;
	border:none;
	background:#A3CE4E;
	color:white;
	right:3px;
	top:20px;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
}
#btn2{
	width:30%;
	height:40px;
	border:none;
	background:#A3CE4E;
	color:white;
	right:3px;
	top:20px;
	margin-top:20px;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	border-radius:1.5em;
}